<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/index.css">
    <title>The Stat of Liberty</title>
</head>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">Meet the Team</a></li>
            <li><a href="/stats">Stats</a></li>
        </ul>
    </nav>
</header>
{{> header}}

{{{body}}}

{{> footer}}
<footer>
    <strong>M. Slade (2025)</strong>
</footer>

</html>