<body>
<h1>Meet the 2025 Team</h1><br>
<fieldset style="margin-top: 20px; padding: 15px; border: 1px solid #ccc;">
    <a href="https://cdn.wnba.com/headshots/wnba/latest/1040x760/1629568.png" title="Kennedy Burke, NYL 2025"><img width="200" alt="Kennedy Burke NYL Team Photo" src="https://cdn.wnba.com/headshots/wnba/latest/1040x760/1629568.png"></a>
    <h4>Kennedy Burke (22)</h4>
    <h6>2024 WNBA Champion | Two-time LFB Most Valuable Player (2023, 2024)</h6> </fieldset>
<fieldset style="margin-top: 20px; padding: 15px; border: 1px solid #ccc;">
    <a href="https://cdn.wnba.com/headshots/wnba/latest/1040x760/204333.png" title="Natasha Cloud, NYL 2025"><img width="200" alt="Natasha Cloud NYL Team Photo" src="https://cdn.wnba.com/headshots/wnba/latest/1040x760/204333.png"></a>
    <h4>Natasha Cloud (9)</h4>
    <h6>2019 WNBA Champion | WNBA Peak Performer in Assists (2022) | Three-Time All-Defensive selection | Dawn Staley Leadership Award</h6></fieldset>
<fieldset style="margin-top: 20px; padding: 15px; border: 1px solid #ccc;">
    <a href="https://cdn.wnba.com/headshots/wnba/latest/1040x760/1642301.png" title="Marquesha Davis, NYL 2025"><img width="200" alt="Marquesha Davis NYL Team Photo" src="https://cdn.wnba.com/headshots/wnba/latest/1040x760/1642301.png"></a>
    <h4>Marquesha Davis (1)</h4>
    <h6>2024 WNBA Champion</h6></fieldset>
<fieldset style="margin-top: 20px; padding: 15px; border: 1px solid #ccc;">
    <a href="https://cdn.wnba.com/headshots/wnba/latest/1040x760/1630142.png" title="Leonie Fiebich, NYL 2025"><img width="200" alt="Leonie Fiebich NYL Team Photo" src="https://cdn.wnba.com/headshots/wnba/latest/1040x760/1630142.png"></a>
    <h4>Leonie Fiebich (13)</h4>
    <h6>2024 WNBA Champion | WNBA All-Rookie Team (2024) | 1st rookie in WNBA history with 5+ 3PM in a Finals game & 4+ 3PM in a playoff game without a miss | No. 2 all-time in single-season +/- (+279) & 3PT% by a rookie in WNBA History (43.3%) | Two-time LF Endesa MVP (2023, 2024)</h6></fieldset>
<fieldset style="margin-top: 20px; padding: 15px; border: 1px solid #ccc;">
    <a href="https://cdn.wnba.com/headshots/wnba/latest/1040x760/203822.png" title="Rebekah Gardner, NYL 2025"><img width="200" alt="Rebekah Gardner NYL Team Photo" src="https://cdn.wnba.com/headshots/wnba/latest/1040x760/203822.png"></a>
    <h4>Rebekah Gardner (7)</h4>
    <h6>All-Rookie (2022)</h6></fieldset>
<fieldset style="margin-top: 20px; padding: 15px; border: 1px solid #ccc;">
    <a href="https://cdn.wnba.com/headshots/wnba/latest/1040x760/204330.png" title="Isabelle Harrison, NYL 2025"><img width="200" alt="Isabelle Harrison NYL Team Photo" src="https://cdn.wnba.com/headshots/wnba/latest/1040x760/204330.png"></a>
    <h4>Isabelle Harrison (21)</h4></fieldset>
<fieldset style="margin-top: 20px; padding: 15px; border: 1px solid #ccc;">
    <a href="https://cdn.wnba.com/headshots/wnba/latest/1040x760/1629477.png" title="Sabrina Ionescu, NYL 2025"><img width="200" alt="Sabrina Ionescu NYL Team Photo" src="https://cdn.wnba.com/headshots/wnba/latest/1040x760/1629477.png"></a>
    <h4>Sabrina Ionescu (20)</h4>
    <h6>First Player in WNBA History to Record 500+ Points, 200+ Rebounds and 200+ Assists in a Single Season; First Player to Record a Triple-Double in less than Three Quarters in WNBA History against Chicago (6/12/22); Tallied First 30-Point Triple Double at Las Vegas (7/6/22)</h6></fieldset>
<fieldset style="margin-top: 20px; padding: 15px; border: 1px solid #ccc;">
    <a href="https://cdn.wnba.com/headshots/wnba/latest/1040x760/1629546.png" title="Marine Johannes, NYL 2025"><img width="200" alt="Marine Johannes NYL Team Photo" src="https://cdn.wnba.com/headshots/wnba/latest/1040x760/1629546.png"></a>
    <h4>Marine Johannes (23)</h4>
    <h6>2023 FIBA EuroCup Women Most Valuable Player; 2023 FIBA EuroCup Women Champion; 2022 WNBA Leader in Three-Point Percentage (43.7%) Among Players with 100-Plus Attempts</h6></fieldset>
<fieldset style="margin-top: 20px; padding: 15px; border: 1px solid #ccc;">
    <a href="https://cdn.wnba.com/headshots/wnba/latest/1040x760/1627673.png" title="Jonquel Jones, NYL 2025"><img width="200" alt="Jonquel Jones NYL Team Photo" src="https://cdn.wnba.com/headshots/wnba/latest/1040x760/1627673.png"></a>
    <h4>Jonquel Jones (35)</h4>
    <h6>2024 WNBA Champion & Finals MVP | 2021 KIA WNBA MVP | 2018 Sixth Woman of the Year | 2017 Most Improved Player</h6></fieldset>
<fieldset style="margin-top: 20px; padding: 15px; border: 1px solid #ccc;">
    <a href="https://cdn.wnba.com/headshots/wnba/latest/1040x760/1631055.png" title="Nyara Sabally, NYL 2025"><img width="200" alt="Nyara Sabally NYL Team Photo" src="https://cdn.wnba.com/headshots/wnba/latest/1040x760/1631055.png"></a>
    <h4>Nyara Sabally (8)</h4>
    <h6>2024 WNBA Champion</h6></fieldset>
<fieldset style="margin-top: 20px; padding: 15px; border: 1px solid #ccc;">
    <a href="https://cdn.wnba.com/headshots/wnba/latest/1040x760/1642320.png" title="Jaylyn Sherrod, NYL 2025"><img width="200" alt="Jaylyn Sherrod NYL Team Photo" src="https://cdn.wnba.com/headshots/wnba/latest/1040x760/1642320.png"></a>
    <h4>Jaylyn Sherrod (0)</h4>
    <h6>2024 WNBA Champion</h6></fieldset>
<fieldset style="margin-top: 20px; padding: 15px; border: 1px solid #ccc;">
    <a href="https://cdn.wnba.com/headshots/wnba/latest/1040x760/1627668.png" title="Breanna Stewart, NYL 2025"><img width="200" alt="Breanna Stewart NYL Team Photo" src="https://cdn.wnba.com/headshots/wnba/latest/1040x760/1627668.png"></a>
    <h4>Breanna Stewart (30)</h4>
    <h6>3x WNBA Champion, 2x WNBA Most Valuable Player; One of 10 active players named to ‘W25’: The WNBA’s Top 25 most dominant, skilled, and entertaining players in league history</h6></fieldset>
<br>
<br>
<h2>Head Coach</h2><br>
<fieldset style="margin-top: 20px; padding: 15px; border: 1px solid #ccc;">
    <a href="https://cdn.wnba.com/headshots/wnba/latest/260x190/101168.png" title="Sandy Brondello, NYL 2025"><img width="200" alt="Sandy Brondello NYL Team Photo" src="https://cdn.wnba.com/headshots/wnba/latest/260x190/101168.png"></a>
    <h4>Sandy Brondello</h4></fieldset>
</body>