<body>
<h1>The Stat of Liberty</h1>
<h4>A one-fan stat machine researching the highs, lows, and whoas of the New York Liberty women's basketball team.</h4>

<a href="https://cdn.wnba.com/sites/1611661313/2025/05/LibertyMutual_1920x1080.jpg?im=AspectCrop=(16,%209),xPosition=.5,yPosition=.5" title="NYL 2024 Championship Team"><img width="500" alt="NYL 2024 Championship Team Photo" src="https://cdn.wnba.com/sites/1611661313/2025/05/LibertyMutual_1920x1080.jpg?im=AspectCrop=(16,%209),xPosition=.5,yPosition=.5"></a>

</body>

